.dayBlock {
  padding: 25px;
  height: 100%;
  background: var(--grayF4);
}

.dayBlock h3 {
  margin: 0;
  margin-bottom: 14px;
}

.dayBlock span {
  margin-left: 5px;
}

.dayBlock > span {
  margin-left: 0;
}
