.header .container > div:first-child {
  width: auto;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 15px;
  background: var(--bgHeader);
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}

.menuContainer {
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
}

.hamburger span {
  display: block;
  width: 35px;
  height: 3px;
  margin: 6px auto;
  background-color: var(--black);
  transition: all 0.3s ease-in-out;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -8px);
}

@media all and (min-width: 1540px) {
  .header {
    padding: 15px 0;
  }
}

@media all and (max-width: 768px) {
  .menuContainer {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 40px;
    align-items: baseline;
    padding: 60px;
    padding-top: 100px;
    padding-right: 100px;
    min-height: 100vh;
    background: var(--bg);
    box-shadow: var(--shadow);
    transform: translateX(200%);
    transition: transform .5s ease-in-out;
  }

  .menuContainer.active {
    transform: translateX(0);
  }

  .hamburger {
    display: block;
    position: relative;
  }
}
