.taskItem {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: -15px;
  padding-left: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
}

.taskItem::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 5px;
  background: transparent;
  transition: background .3s ease-in-out;
}

.taskItem.active::before {
  background: var(--black);
}

.taskItem:hover::before {
  background: var(--greyC4);
}

.taskItem.active:hover::before {
  background: var(--black);
}

.taskNum {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  border-radius: 50%;
  border: 1px solid var(--greyC4);
}

.taskItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--grayF4);
}

.taskItem input {
  padding: 4px 5px;
  border: none;
  background: transparent;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  cursor: pointer;
}

.taskItem input:focus {
  outline: none;
  background: var(--grayF4);
}
