.list {
  margin-top: 3px;
  margin-bottom: 25px;
  padding-left: 23px;
  max-width: 530px;
}

.list li {
  position: relative;
  line-height: 33px;
}

.list li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--redHover);
}

@media all and (max-width: 1340px) {
  .list {
    max-width: 70%;
  }
}

@media all and (max-width: 1060px) {
  .list {
    max-width: 100%;
  }
}
