.content {
  position: absolute;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 41% 57%;
  justify-content: space-between;
  grid-template-rows: 36px 256px;
  grid-template-areas:
  "header block"
  "text block"
  "form block"
  "list block";
  margin: 0 auto;
  padding: 173px 15px 30px;
  max-width: 1310px;
}

.content h2 {
  grid-area: header;
  margin: 0;
  margin-bottom: 3px;
  height: fit-content;
}

.content ul:first-of-type {
  grid-area: text;
  height: fit-content;
}

.content ul:nth-of-type(2) {
  grid-area: list;
}

.content > div {
  grid-area: block;
  align-self: baseline;
}

.content form {
  grid-area: form;
}

@media all and (max-width: 1340px) {
  .content {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "text"
    "block"
    "form"
    "list";
  }

  .content form {
    max-width: 70%;
  }

  .content > div {
    margin-bottom: 25px;
    max-width: 70%;
  }
}

@media all and (max-width: 1060px) {
  .content form {
    max-width: 100%;
  }

  .content > div {
    margin-bottom: 25px;
    max-width: 100%;
  }
}

@media all and (max-width: 768px) {
  .content {
    padding-top: 110px;
  }
}
