.btn {
  display: inline-block;
  padding: 17px 49px;
  border: 2px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  transition: background .3s ease-in-out, color .3s ease-in-out;
}

.isSuccess {
  background: var(--green);
  color: var(--textWhite);
}

.isDanger {
  border: 2px solid var(--red);
  background: transparent;
  color: var(--red);
}

.isDisabled {
  border: 2px solid var(--greyC4);
  background: none;
  color: var(--greyC4);
  cursor: not-allowed;
}

.isDangerBg {
  border: 2px solid var(--red);
  background: var(--red);
  color: var(--textWhite);
}

@media all and (min-width: 1540px) {
  .isSuccess:hover {
    background: var(--greenHover);
  }
  .isDanger:hover {
    background: var(--red);
    color: var(--textWhite);
  }
  .isDisabled:hover {
    background: none;
    color: var(--greyC4);
  }
  .isDangerBg:hover {
    background: none;
    color: var(--red);
  }
}

@media all and (max-width: 480px) {
  .btn {
    padding: 12px 35px;
  }
}
